
*{
    margin: 0;
    padding:0 ;
}

/* -----------navbar--------- */

.navbar{
    background: linear-gradient(to left,#368d,#653e);
    position: sticky;
    top: 0;
}
.nav-img{
    border-radius: 10em;
    width: 50px;
    height: auto;
}

.navbar-toggler{
    color: #fff;
}

.nav-link{
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 1px rgb(21, 172, 232);
    text-align: center;
}
.nav-link:hover{
    color: purple;
}



/* b */

a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(21, 172, 232);
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
    font-weight: 700;
}
a:hover{
    color: #255784;
    background: rgb(21, 172, 232);
    box-shadow: 0 0 10px rgb(21, 172, 232), 0 0 10px #2196f3, 0 0 10px #2196f3;
    transition-delay: 1s;
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(21, 172, 232));
}
a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}




a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



a span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}
a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* ----------------curosel---------- */
#carousel{
    background: url('img/pexels-pixabay-326279.jpg') no-repeat;
    background-position: center;
    height: 100vh;
   background-size: cover; 
   width: 100%;
   position: relative;
   
}
.bg-img{
    background: linear-gradient(to left,rgba(20, 180, 175, 0.274),rgb(19, 166, 186));
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
}

.curosel-imge{
    height: 500px;
    width: 850px;
    margin:0 auto;
    padding-top: 50px;
    
}
.curosel-img{
    height: 500px;
    width: 100%;
    border-radius: 2em;
}




/* ---------------banner--------- */
#banner{
    background: linear-gradient(207deg, rgba(131,255,155,1) 0%, rgba(198,40,142,0.2836484935771183) 100%);
}

.banner-img{
    width: 100%;
    min-height: 400px;
    height: auto;
}

/* ---------details----------- */




#deatls{
    background: linear-gradient(to left,#3654,#3564);

}


.deatails-img{
    height: 500px;
    width: 100%;
    border-radius: 2em;
    box-shadow: 2px 1px 3px 2px;
    margin-bottom: 20px;
}

.skill{
    color: rgb(14, 145, 168);
    text-decoration: none;
    font-family: italic;
    font-weight: 600;
}
.skill ul li{
    list-style: none;
    color: purple;
    font-size: 20px;
    outline: 2px solid;
    background-color: #3564;
    cursor: pointer;
}
.skill ul li:hover{
    background-color: orange;
    color: #fff;
}

#footer{
    background-color:#333;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    
}
#footer .fa{
 font-size: 40px;
 padding-top: 20px;
}